body {
    background: RGB(197,192,207);
    color: black;
}
.Barra {
    background: RGB(179,134,179) !important;
}
.MiCard {
    background-color: rgb(188,165,207);
    border-width: 0px;
    width: 250px;
    -webkit-box-shadow: 8px 8px 8px 0px rgba(138,137,137,1);
    -moz-box-shadow: 8px 8px 8px 0px rgba(138,137,137,1);
    box-shadow: 8px 8px 8px 0px rgba(138,137,137,1);
}
.ImagenCard {
    display: block;
    height: 253px;
    width: 253px;
    clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
}
.Activo {
    font-weight:700;
}
.BotonIcono {
    margin-top: 7px;
    margin-left: 5px;
    width: 25px;
    height: 25px;
}
.BotonAgregar {
    padding-bottom: 9px;
    background-color: RGB(179,134,179) !important;
    border-width: 0px;
}
.CentrarJumbo {
    background-color: RGB(220,215,230);
    width: 500px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.LineaPunteada {
    border-top: dashed;
    border-color: RGB(119,74,119);
    border-width: 2px;
    padding-top:5px;
    padding-bottom:5px;
}
.ImagenSlide {
    width: auto;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: solid;
    border-width: 2px;
    border-color: RGB(179,134,179);
}
h3 {
    text-align:center;
    padding-top:10px;
    color: RGB(179,134,179);
}
.ListaDesplegable {
    width:250px;
}
.ColumnaVendedor {
    padding-top: 10px;
    width: 500px;
}
